html {
	background: #cecece;
	}

html, body {
	margin: 0;
	padding: 0;
	position: relative;
	color: #464637;
	min-height: 100%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}


h1 {
	color: #FF3F00;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li{
	width: 40px;
	display: inline-block
}

.container {
	width: 100%;
	margin: auto;
}

@media (min-width: 750px) and (max-width: 970px){
	.container {
		width: 100%;
	}
}


.sortable-ghost {
	opacity: .2; 
	border-radius: 10px;
}

#foo .sortable-drag {
	background: #fff;
	border-radius: 10px;
}


img {
	border: 0;
	vertical-align: middle;
}





.block {
	opacity: 1;
}
	.block__list {
		padding: 20px;
		width: 300px;
		margin: 10px;
		background-color: #fff;
		display: inline-block;
	}
		
		.block__list li { cursor: move; 
			width: 50px;
			display: inline-block;
			padding: 20px 10px 20px 10px;
		text-align: center;
		border: 1px solid #000;
		border-radius: 10px;}

	.block__list_words li {
		background-color: #fff;
		padding: 10px 40px;
		border-radius: 10px;
	}
		.block__list_words .sortable-ghost {
			opacity: 0.4;
			background-color: #000;
			border-radius: 10px;
		}

		.block__list_words li:first-letter {
			text-transform: uppercase;
		}

	.block__list_tags {
		padding-left: 30px;
	}

	.block__list_tags:after {
		clear: both;
		content: '';
		display: block;
	}
		.block__list_tags li {
			color: #fff;
			float: left;
			margin: 8px 20px 10px 0;
			padding: 5px 10px;
			min-width: 10px;
			background-color: #fff;
			text-align: center;
			border-radius: 10px;
			border: 1px solid #EBEBEB;
			-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06);
box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06);
		}
			.block__list_tags li:first-child:first-letter {
				text-transform: uppercase;
			}
h5{
	color: #2D2D2D;
	font-size: 14px;
	font-weight: 900;
	margin: 10px;
	padding: 0;
}
.cenario{
	background: #A258E4;
	height: 4px;
	border-radius: 10px;
	width: 20px;
	margin: 0 auto;
	display: block;
}
.capcena{
	font-size: 12px;
	color: #A2A2A2;

}

#editable {}
	#editable li {
		position: relative;
	}

	#editable i {
		-webkit-transition: opacity .2s;
		transition: opacity .2s;
		opacity: 0;
		display: block;
		cursor: pointer;
		color: #c00;
		top: 10px;
		right: 40px;
		position: absolute;
		font-style: normal;
	}

	#editable li:hover i {
		opacity: 1;
	}


#filter {}
	#filter button {
		color: #fff;
		width: 100%;
		border: none;
		outline: 0;
		opacity: .5;
		margin: 10px 0 0;
		transition: opacity .1s ease;
		cursor: pointer;
		background: #fff;
		padding: 10px 0;
		font-size: 20px;
	}
		#filter button:hover {
			opacity: 1;
		}

	#filter .block__list {
		padding-bottom: 0;
	}

.drag-handle {
	color: #fff;
	margin: 8px 20px 10px 0;
	padding: 5px 10px;
	min-width: 10px;
	background-color: #000;
	text-align: center;
	border-radius: 10px !important;
	border: 1px solid #EBEBEB;
	-webkit-box-shadow: 0 18px 8px 0 rgba(0,0,0,0.06);
	box-shadow: 0 18px 8px 0 rgba(0,0,0,0.06);
	display: inline-block;
	cursor: move;
	cursor: -webkit-grabbing;  /* overrides 'move' */
}

#todos input {
	padding: 5px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}



#nested ul li {
	background-color: rgba(0,0,0,.05);
}
